.clickable {
    cursor: pointer;
}
.post-size {
    height: 15vh;
    width: 15vh;
}
.project-size {
    height: 30vh;
    width: 100%;
}
.user-img-size {
    height: 50px;
    width: 50px;
    object-fit: cover;
}