<div class="container-fluid bg-light pt-4 pb-4 border-bottom shadow">
    <div class="form-group">
        <input type="text" placeholder="Search.." class="form-control mb-3"
        (keyup)="enterSearch($event)">
    </div>

    <div class="d-flex justify-content-center" style="flex-wrap: wrap;">
        <div>
            <span class="badge badge-pill badge-success p-2 m-2 clickable" 
            id="posts" (click)="selectCat('posts')">POSTS</span>
        </div>

        <div>
            <span class="badge badge-pill badge-secondary p-2 m-2 clickable" 
            id="people" (click)="selectCat('people')">PEOPLE</span>
        </div>
        
        <div>
            <span class="badge badge-pill badge-secondary p-2 m-2 clickable" 
            id="questions" (click)="selectCat('questions')">QUESTIONS</span>
        </div>
        
        <div>
            <span class="badge badge-pill badge-secondary p-2 m-2 clickable" 
            id="projects" (click)="selectCat('projects')">PROJECTS</span>
        </div>
    </div>
</div>

<!--Posts area-->
<div *ngIf="currentCat == 'posts'" class="container-fluid pt-4 d-flex mb-5 pb-3 justify-content-center" style="flex-wrap: wrap;">
    <div *ngFor="let post of posts;">
        <div class="border post-size"></div>
    </div>
</div>

<!--People area-->
<div *ngIf="currentCat == 'people'" class="container-fluid pt-4 mb-5 pb-3">

    <!--if user is empty-->
    <div *ngIf="people.length == 0" class="mt-5">
        <div class="text-center text-muted">SNAP !! No User Found !!</div>
    </div>

    <div *ngFor="let person of people;">
        <div class="border-bottom p-4 d-flex clickable" (click)="getUserDetails(person.email)">
            <div>
                <img [src]="person.profilePicture" class="img-fluid user-img-size rounded-circle" alt="user profile">
            </div>

            <div class="ml-4">
                <div class="font-weight-bold">{{ person.userName }}</div>
                <div class="text-small">{{ person.name }}</div>
            </div>
        </div>
    </div>
</div>

<!--Questions area-->
<div *ngIf="currentCat == 'questions'" class="container-fluid pt-4 mb-5 pb-3">
    <div *ngFor="let question of questions;">
        <div class="border-bottom p-4">{{ question }}</div>
    </div>
</div>

<!--Projects area-->
<div *ngIf="currentCat == 'projects'" class="container-fluid pt-4 mb-5 pb-3">
    <div *ngFor="let project of projects;">
        <div class="border project-size">{{ project }}</div>
    </div>
</div>

<app-comp-navbar></app-comp-navbar>