<div class="container-fluid bg-light pb-4">
    <div class="pt-4 pb-3 font-weight-bold text-large">
        <span class="material-icons mr-3" style="vertical-align: middle;"
        (click)="getBack()">arrow_back</span>
        Edit Profile
        <hr>
    </div>

    <div class="center-pos pb-4"
    data-toggle="modal" data-target="#uploadPic">
        <img [src]="user.profilePicture"
             class="profile-icon img-fluid rounded-circle clickable"
             alt="user profile">
        <div class="text-small text-info mt-2 font-weight-bold">Change Profile Picture</div>
    </div>

    <div class="form-group">
        <form method="dialog">
            <input type="text" placeholder="Name" class="form-control" [value]="user.name" 
            (keyup)="enterName($event)" required>

            <input type="text" placeholder="Username" class="form-control mt-4" 
            [value]="user.userName" (keyup)="enterUserName($event)" required>

            <textarea class="form-control mt-4" placeholder="Bio" rows="5" 
            [value]="user.bio" (keyup)="enterBio($event)" maxlength="255"></textarea>

            <select class="form-control mt-4" style="width: 40%;" (change)="enterGender($event)">
                <option value="null" [selected]="user.gender == null">
                    --
                </option>
                <option value="Male" 
                [selected]="user.gender == 'Male'">Male</option>
                <option value="Female" 
                [selected]="user.gender == 'Female'">Female</option>
                <option value="Other" 
                [selected]="user.gender == 'Other'">Other</option>
            </select>

            <button type="submit" class="btn btn-info width-100 rounded-0 mt-5" (click)="update()">
                <span *ngIf="showSpinner" class="spinner spinner-grow-sm spinner-grow mr-2"></span>
                Save Changes
            </button>
            <div *ngIf="profileError" class="text-small text-danger font-weight-bold">{{ profileErrorMessage }}</div>
        </form>

        <form method="dialog">
            <input type="email" class="form-control mt-5" placeholder="Email" 
            [value]="user.email" (keyup)="enterEmail($event)" required>
            <button type="submit" class="btn btn-info rounded-0 mt-4"
            data-toggle="modal" data-target="#myModal" (click)="sendOTP()">
                Change Email
            </button>
        </form>

        <form method="dialog">
            <input type="password" class="form-control mt-5" placeholder="Password" 
            [value]="'password'" (keyup)="enterPassword($event)" required>
            <button type="submit" class="btn btn-info rounded-0 mt-4" (click)="changePassword()">
                Change Password
            </button>
            <div *ngIf="passwordError" class="font-weight-bold text-danger text-small mt-2">
                Error in updating password
            </div>
        </form>
    </div>
</div>

<!-- The Modal -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">OTP Verification</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body center-pos">
            <div>
                <input type="text" placeholder="--" class="text-center form-control" (keyup)="enterOTP($event)">
                <div *ngIf="otpError" class="text-small text-danger font-weight-bold mt-2">
                    Incorrect OTP
                </div>
            </div>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
            <button type="button" class="btn btn-danger rounded-0" (click)="saveEmail()">
              Save Changes
            </button>
        </div>
  
      </div>
    </div>
  </div>


<!--Upload Columns-->
<div class="modal fade" id="uploadPic">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="p-4 border-bottom font-weight-bold clickable">
          Take a photo
        </div>
  
        <div class="p-4 border-bottom font-weight-bold clickable">
          <form>
            <label for="profileUpload">Select from Device</label>
            <input type="file" placeholder="Upload From Device" class="form-control border-0" 
            accept="image/*" id="profileUpload" autocomplete="off"
            (change)="selectPic($event)">
            <div *ngIf="uploadCondition" class="text-info font-weight-bold text-small pt-3">{{ uploadMessage }}</div>
          </form>
        </div>
  
      </div>
    </div>
  </div>