<div class="container-fluid">
    <div id="demo" class="carousel slide carousel-container" data-ride="carousel">

        <!-- Indicators -->
        <ul class="carousel-indicators">
          <li data-target="#demo" data-slide-to="0" class="active bg-dark"></li>
          <li data-target="#demo" data-slide-to="1" class="bg-dark"></li>
          <li data-target="#demo" data-slide-to="2" class="bg-dark"></li>
          <li data-target="#demo" data-slide-to="2" class="bg-dark"></li>
        </ul>
      
        <!-- The slideshow -->
        <div class="carousel-inner">

          <div class="carousel-item active pt-5 pl-2 pr-2">
            <div class="container-fluid text-center">
                <img src="../../assets/illustrations/undraw_my_answer_iw6k.svg"
                alt="Answers to your questions"
                class="img-fluid">

                <h1 class="text-size text-center mt-5 font-weight-bold">
                    "Ask questions and answers others"
                </h1>

                <div class="mt-4">
                    Solve each other's problems. Grow as a community.
                </div>
            </div>
          </div>

          <div class="carousel-item pt-5 pl-2 pr-2">
            <div class="container-fluid text-center">
                <img src="../../assets/illustrations/undraw_mobile_inbox_3h46.svg"
                alt="Chat via Inbox"
                class="img-fluid">

                <h1 class="text-size text-center mt-5 font-weight-bold">
                    "Communicate with other developers"
                </h1>

                <div class="mt-4">Communicate with other developers, as we all learn from 
                    each other
                </div>
            </div>
          </div>

          <div class="carousel-item pt-5 pl-2 pr-2">
            <div class="container-fluid text-center">
                <img src="../../assets/illustrations/undraw_Mobile_life_re_jtih.svg"
                alt="Upload content"
                class="img-fluid">

                <h1 class="text-size text-center mt-5 font-weight-bold">
                    "Post your interests"
                </h1>

                <div class="mt-4">
                    Your interest matters, flaunt your work or interests.
                </div>
            </div>
          </div>

          <div class="carousel-item pt-5 pl-2 pr-2">
            <div class="container-fluid text-center">
                <img src="../../assets/illustrations/undraw_content_team_3epn.svg"
                alt="Work on your projects"
                class="img-fluid">

                <h1 class="text-size text-center mt-5 font-weight-bold">
                    "Post or Enroll in different projects"
                </h1>

                <div class="mt-4">
                    Keep yourself busy, collaborate and work on different projects.
                </div>
            </div>
          </div>

        </div>
      
        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class="carousel-control-prev-icon"></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class="carousel-control-next-icon"></span>
        </a>
      
    </div>
</div>

<div class="container-fluid panel">
    <button type="button" class="btn btn-skip rounded-0" (click)="skip()">Skip</button>
</div>

<div class="background"></div>
<div class="background-blue bg-info"></div>