.clickable {
    cursor: pointer;
}
.pic-div {
    width: 30%;
}
.follow-div {
    width: 70%;
    justify-content: space-around;
}
.follow-div > div {
    vertical-align: middle;    
}
.profile-icon {
    height: 100px;
    width: 100px;
    object-fit: cover;
}