<div class="container-fluid height-100 pl-3 pr-3 pt-5 pb-5">
    <div class="container">
        <h1 class="display-5 text-uppercase heading mb-5 pb-5">
            <a href="/login"><span class="material-icons">arrow_back</span></a>
            signup
        </h1>

        <form method="dialog" class="width-100">
            <div class="form-group">
                <input type="text" class="form-control input-text" placeholder="Name" (keyup)="enterName($event)" required>

                <input type="text" class="form-control input-text mt-4" placeholder="Username" (keyup)="enterUsername($event)" required>

                <input type="email" class="form-control input-text mt-4" placeholder="Email" (keyup)="enterEmail($event)" required>

                <input type="password" class="form-control input-text mt-4" placeholder="Password" (keyup)="enterPassword($event)" required>
            </div>

            <button type="submit"
             class="btn btn-info rounded-0 width-100 mt-5 font-weight-bold p-3 text-uppercase"
             (click)="sendOTP()">
                create  account
            </button>
        </form>

        <div class="mt-3 text-muted text-small">By signing up you are agreeing to our privacy policy.
            <a href="/privacypolicy">Read our privay policy</a>
        </div>
    </div>
</div>

<div class="container-fluid height-100 bg-path"></div>