<!--nav-->
<div class="container-fluid navigation border-top">
    <div (click)="navigate('')">
        <span class="material-icons icon" title="Home">home</span>
    </div>
    <div (click)="navigate('search')">
        <span class="material-icons icon" title="Search">search</span>
    </div>
    <div (click)="navigate('activity')">
        <span class="material-icons icon" title="Activity">local_activity</span>
    </div>
    <div (click)="navigate('profile/0')">
        <span class="material-icons icon" title="Profile">face</span>
    </div>
</div>