.navigation {
    height: 8vh;
    width: 100%;
    position: fixed;
    bottom: 0px;
    z-index: 10;

    display: flex;
    justify-content: space-around;
    align-items: center;

    background: var(--custom-grey);
}

.icon {
    font-size: 2rem;
    color: #333333;
    cursor: pointer;
}