.home-size {
    height: 100vh;
    width: 100%;
    overflow: hidden;

    padding: 0px;
}

.content-div {
    height: 84vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.head-div {
    height: 8vh;
    width: 100%;
    position: relative;
    top: 0px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--custom-grey);
}
.head-spacing {
    letter-spacing: 2px;
}