<div class="container-fluid height-100 pl-3 pr-3 pt-5 pb-5">
    <div class="container">
        <h1 class="display-5 text-uppercase heading mb-5 pb-5">Login</h1>

        <form method="dialog" class="width-100">
            <div class="form-group">
                <input type="email" class="form-control input-text" placeholder="Email" required>

                <input type="password" class="form-control input-text mt-4" placeholder="Password" required>
            </div>

            <div class="custom-control custom-switch">
                <input type="checkbox" class="custom-control-input" id="switch1">
                <label class="custom-control-label" for="switch1">Show Password</label>
            </div>

            <button type="submit" class="btn btn-info rounded-0 width-100 mt-5 font-weight-bold p-3">LOGIN</button>
        </form>
        <div class="mt-2">New to our app? <a href="/signup">Create an account</a></div>
    </div>
</div>

<div class="container-fluid height-100 bg-path"></div>